<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy/Paste📋</title>
    <link rel="stylesheet" href="/copy-paste.css">
    <link rel="stylesheet" href="/message.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <main id="container">
        <nav>
            <p id="session-id">Space ID: 123456</p>
            <Button id="exit"><img src="/assets/exitIcon.svg"/></Button>
        </nav>

        <div id="chat">

            <Button id="attach"><img src="/assets/attachIcon.svg"/></Button>
                
            <textarea type="text" id="message" placeholder="You're Connected, type here..."></textarea>

            <Button id="send"><img src="/assets/sendIcon.svg"/></Button>
        </div>
    </main>

    <script type="module" src="/copy-paste.js"></script>
    
</body>
</html>
