<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy/Paste📋</title>
    <link rel="stylesheet" href="/copy-paste.css">
    <link rel="stylesheet" href="/message.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    
    <nav id="nav">
        <p id="session-id"></p>
        <p id="connection-status">Connecting...</p>
        <button id="leave-button">Exit Session ➡️</button>
    </nav>
    
    <main id="container"></main>
    
    <div id="chat">
        <button id="attach">📁</button>
        <textarea id="textInput" placeholder="Type your message..."></textarea>
        <button id="upload">🚀</button>
    </div>

    <script type="module" src="/copy-paste.js"></script>
</body>
</html>
