<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Copy/Paste 📋</title>
    <link rel="stylesheet" href="/splash.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
   <main>
        <nav>
            <button id="hamburger" class="custom-button">
                <img src="/assets/hamburgerMenuIcon.svg"/>
            </button>
        </nav>
        
        <img id="logo" src="/assets/logo.svg"/>
        
        <p id="hero-phrase">Enter a Space ID and <span id="accent">instantly</span> share files and collaborate in a secure, temporary chat-like environment.</p>
        
        <div id="session-buttons">
            <button id="create-session">Create a Space</button>
            <form id="join-session">
                <input type="text" id="session-input" placeholder="Space ID" required maxlength="6" minlength="6">
                <button type="submit">Join</button>
            </form>
        </div>
        
        <div id="highlights">
            <p id="highlights-title">New and Improved!</p>
            <div class="highlight">
                <div class="highlight-title">
                    <img class="highlight-icon" src="/assets/watchIcon.svg"/>
                    <p>Faster Connections</p>
                    <img class="arrow" src="/assets/arrowIcon.svg"/>
                </div>
                <div class="highlight-description">
                    <p>Connect in seconds with our optimized technology. Start sharing files almost instantly.</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-title">
                    <img class="highlight-icon" src="/assets/filesIcon.svg"/>
                    <p>Multifile Messages</p>
                    <img class="arrow" src="/assets/arrowIcon.svg"/>
                </div>
                <div class="highlight-description">
                    <p>Easily share multiple files in one message</p>
                </div>
            </div>
            <div class="highlight">
                <div class="highlight-title">
                    <img class="highlight-icon" src="/assets/chainIcon.svg"/>
                    <p>Easy-to-Type Space IDs</p>
                    <img class="arrow" src="/assets/arrowIcon.svg"/>
                </div>
                <div class="highlight-description">
                    <p>Simplified Space IDs make joining sessions a breeze. Quick to type and easy to remember.</p>
                </div>
            </div>
            <a id="project-details" href="/overview">See full project details</a>
        </div>
        


        <div id="footer">
            <div id="privacy-links">
                <a href="/privacy-policy">Privacy Policy</a>
            </div>

            <p>© 2024 Rodrigo Cornidez All Rights Reserved.</p>
        </div>
    </main>

    <div id="slide-menu">
        <button id="close-menu" class="custom-button">
            <img src="/assets/exitIcon.svg" alt="Close Menu"/>
        </button>
        <nav id="slide-menu-links">
            <a href="/quickstart">Quickstart Guide</a>
            <a href="/overview">Project Overview</a>
            <a href="/v1">Check out Copy/Paste v1</a>
            <a href="https://github.com/RCornidez" target="_blank">Created By Rodrigo Cornidez</a>
            <a href="mailto:cornidez04@gmail.com">Contact</a>
        </nav>
    </div>

    <script type="module" src="/splash.js"></script>
</body>
</html>
