* {
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

::-webkit-scrollbar {
    width: 0px;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    max-width: 500px;
    padding-bottom: 80px;
    background-image: url('/assets/tileBackground.svg');
    background-repeat: repeat;
    background-size: 100px;
    background-position: center;
  }

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #FAFAFA;
}

nav p {
    margin: 0;
    font-size: 18px;
}

button {
    position: absolute;
    padding: 0;
    width: 40px;
    height: 40px;
    bottom: 15px;
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit {
    right: 15px;
}

#chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    width: 100%;
    max-width: 500px;
    background: #FAFAFA;
    position: fixed;
    bottom: 0;
}

#chat textarea {
    height: 100%;
    width: 100%;
    min-height: 70px;
    padding: 10px 70px;
    font-size: 16px;
    border: 2px solid #FAFAFA;
    resize: none;
    overflow: hidden;
    text-align: center;
}

#chat textarea:focus {
    text-align: left;
}



#attach {
    position: absolute;
    left: 15px;
}

#send {
    position: absolute;
    right: 15px;
}
